#APP
APP_PORT=xxxxx
APP_HOSTNAME=http://xxxxx

#DATABASE
DATABASE_HOSTNAME=xxxxx
DATABASE_PORT=xxxxx
DATABASE_USERNAME=xxxxx
DATABASE_PASSWORD=xxxxx
DATABASE_NAME=xxxxx

#USE THIS CONFIG INSTEAD
#DATABASE_HOSTNAME=mysql-docker
#DATABASE_PORT=3306
#DATABASE_USERNAME=root
#DATABASE_PASSWORD=nguyenvu
#DATABASE_NAME=socialmedia

#WINSTON
LOG_LEVEL=info

#DOMOAIN CLIENT 
DOMAIN_CORS=http://localhost:5173

#JWT
ACCESS_TOKEN_SECRET=myaccesstokensecret2025
REFRESH_TOKEN_SECRET=myrefreshtokensecret2025
ACCESS_TOKEN_EXPIRES_IN=3600
REFRESH_TOKEN_EXPIRES_IN=36000

#GMAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=lopetsocialmedia@gmail.com
MAIL_PASS=pqzp cocz nlqu coyj
MAIL_ADMIN_RECEIVER=lopetsocialmedia@gmail.com

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=dmsnw2qpd
CLOUDINARY_API_KEY=214187186256291
CLOUDINARY_API_SECRET=13ew1sxffolXvVYkaGleJcAd4AY

#REDIS LOCAL
REDIS_HOSTNAME=localhost
REDIS_PORT=6371

#USE HOSTNAME REDIS IN DOCKER
#REDIS_HOSTNAME=redis
#USE DEFAULT PORT REDIS
#REDIS_PORT=6379

#ADMIN ACCOUNT INIT
INIT_ADMIN_EMAIL=lopetsocialmedia@gmail.com
INIT_ADMIN_USERNAME=lopetvn
INIT_ADMIN_PASSWORD=Lopetvn@2004
